.hero {
  margin-bottom: 300px;
}

.hero__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0 20px;
}

.hero__bottom-buttons {
  display: flex;
  justify-content: center;
}