.middle-section {
  position: relative;
  padding: 120px 0 80px;
}

.middle-section__triangles-top {
  height: 100px;
  position: absolute;
  bottom: 100%;
  width: 100%;
}

.middle-section__triangles-bottom {
  height: 100px;
  position: absolute;
  top: 100%;
  width: 100%;
}