.skill {
  position: relative;
  width: 166px;
  height: 166px;
}

.skill__circle {
  fill: transparent;

  &--layer--under {
    stroke: #eaeaea;
    stroke-width: 5px;
  }

  &--layer--above {
    stroke-width: 12px;
    stroke-dasharray: 251;
    stroke-dashoffset: 120;
  }
}

.skill__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 18px;
  color: rgba($text-color, .5);
  padding: 14px;
}