.slider__header {
  margin-bottom: 95px;
  display: flex;
}

.slider__buttons {
  margin-left: 7%;
}

.slider__content {
  display: flex;
}

.slider__item {
  width: 43%;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.slider__btn {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

