.userinfo {
  display: flex;
  justify-content: center;
}

.userinfo__title {
  font-size: 18px;
  color: rgba($text-color, .4);
  font-weight: 600;
  margin-bottom: 20px;
  text-align: right;
  margin-right: 62px;
  padding-top: 10px;
}

.userinfo__occ {
  white-space: nowrap;
}

.userinfo__name {
  font-weight: 800;
  font-size: 72px;
  line-height: 1;
  flex-basis: 400px;
}