script(type="text/x-template")#slider-container
  .slider
    .slider__header
      .section-title Что обо мне говорят
      .slider__buttons
        button(
          type="button" 
          @click="slide('prev')"
          :disabled="!buttons.prev"
        ).slider__btn.round-btn.round-btn--pointer--right

        button(
          type="button" 
          @click="slide('next')"
          :disabled="!buttons.next"
        ).slider__btn.round-btn.round-btn--pointer--left
    swiper(ref="slider" :options="sliderOptions")
      swiper-slide(v-for="review in reviews" :key="review.id")
        .quote
          .quote__text
            p {{review.text}}
          .quote__user
            .user-display
              .user-display__avatar
                .user-display__avatar-style
                  img(:src="review.pic").user-display__pic
              .user-display__data
                .user-display__name {{review.name}}
                .user-display__occ {{review.occ}}
              
