.skill-add-line-component {
  display: flex;
  align-items: center;
  position: relative;

  &.blocked {
    filter: grayscale(70%);
    pointer-events: none;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.title {
  flex: 1;
}

.percent {
  margin: 0 30px 0 10px;
  position: relative;

  &:after {
    content: "%";
    position: absolute;
    top: 9px;
    right: 0;
  }
}
