.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.notification {
  transition: transform .3s;
}

.notify-container {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  &.active {
    .notification {
      transform: translateY(-100%);
    }
  }
}