.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  padding: 60px 0 20px;
  background: url("../images/bg/admin.jpg") center center / cover no-repeat;
  flex: 1;
}

.header {
  display: flex;
  margin-bottom: 60px;
}

.title {
  margin-right: 60px;
  font-size: 21px;
  font-weight: bold;
  color: $text-color;
}